/.SubsystemTemplateInc.java._trace
/.SubsystemTemplateSrc.java._trace
/.SubsystemTemplateInc.xtendbin
/.SubsystemTemplateSrc.xtendbin
/SubsystemTemplateInc.java
/SubsystemTemplateSrc.java
/.SubsystemSingleInc.java._trace
/.SubsystemSingleSrc.java._trace
